.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    background: var(--background);
    height: 56px;
}

.navbar-left {
    font-weight: 700;
    font-size: 22px;
    color: var(--primary);
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}